<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul data-slide-speed="200" data-auto-scroll="true" class="page-sidebar-menu">
      <li class="sidebar-toggler-wrapper">
        <div class="sidebar-toggler">
        </div>
      </li>
      <li class="start ">
        <a href="/admin/admins/dashboard">
          <i class="icon-home"></i>
          <span class="title">Dashboard</span>
        </a>
      </li>

      <li>
        <a href="javascript:;">
          <i class="icon-users"></i>
          <span class="title">Parents</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="/admin/parents">
              <i class="icon-users"></i>
              All Parents</a>
          </li>
          <li>
            <a href="/admin/users/new">
              <i class="icon-user-follow"></i>
              Create New Parent</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
          <i class="icon-docs"></i>
          <span class="title">Mosques</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="/admin/mosques">
              <i class="icon-docs"></i>
              All Mosque</a>
          </li>
          <li>
            <a href="/admin/mosques/new">
              <i class=""></i>
              Create New Mosque</a>
          </li>
        </ul>
      </li>
      <!--<li>-->
      <!--<a href="javascript:;">-->
      <!--<i class="icon-users"></i>-->
      <!--<span class="title">Hosts</span>-->
      <!--<span class="arrow "></span>-->
      <!--</a>-->
      <!--<ul class="sub-menu">-->
      <!--<li>-->
      <!--<a href="/admin/hosts/all_hosts">-->
      <!--<i class="icon-users"></i>-->
      <!--All Host</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="javascript:;">-->
      <!--<i class="icon-book-open "></i>-->
      <!--<span class="title">Reservations</span>-->
      <!--<span class="arrow "></span>-->
      <!--</a>-->
      <!--<ul class="sub-menu">-->
      <!--<li>-->
      <!--<a href="/admin/reservations">-->
      <!--<i class="icon-book-open "></i>-->
      <!--All Reservations</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="javascript:;">-->
      <!--<i class="icon-wallet"></i>-->
      <!--<span class="title">Transactions</span>-->
      <!--<span class="arrow "></span>-->
      <!--</a>-->
      <!--<ul class="sub-menu">-->
      <!--<li>-->
      <!--<a href="/admin/transaction_histories">-->
      <!--<i class="icon-wallet"></i>-->
      <!--All Transactions</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="javascript:;">-->
      <!--<i class="icon-briefcase"></i>-->
      <!--<span class="title">Report Issues</span>-->
      <!--<span class="arrow "></span>-->
      <!--</a>-->
      <!--<ul class="sub-menu">-->
      <!--<li>-->
      <!--<a href="/admin/report_issues">-->
      <!--<i class="icon-wallet"></i>-->
      <!--All Reporting Issues</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="javascript:;">-->
      <!--<i class="icon-users"></i>-->
      <!--<span class="title">Accepted Animals</span>-->
      <!--<span class="arrow "></span>-->
      <!--</a>-->
      <!--<ul class="sub-menu">-->
      <!--<li>-->
      <!--<a href="/admin/accepted_animals">-->
      <!--<i class="icon-users"></i>-->
      <!--All Accepted Animals</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="/admin/accepted_animals/new">-->
      <!--<i class="icon-user-follow"></i>-->
      <!--Add New Animal Type</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</li>-->

    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
</div>
